h3 {
    color: green;
}

h1 {
    color:white
};

input {
    width: 100px;
}


.myClass {
    background-color:slategrey !important;
    padding: 0 90px;
}

ul {
    background-color: green;
    list-style-type: none;
    padding-bottom: 1%;
}

li {
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    background-color: snow;
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
}

.list-group {
    padding-top: 1%;
    padding-bottom: 1%;
}

.sum {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    color: white;
}